@model Ahorcado.Models.Palabra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Palabra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextoNormalizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextoNormalizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneTilde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneTilde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PalabraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
